{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if 'ROLE_ADMIN' in user.roles %}
                        Administrateur
                    {% elseif user.roles is empty %}
                        Cet utilisateur a été banni
                    {% else %}
                        Utilisateur
                    {% endif %}
                </td>
            </tr>
            {% if user.firstname is not null %}
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
            {% endif %}
            {% if user.lastname is not null %}
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
            {% endif %}
            
            <tr>
                <th>Date d'inscription</th>
                <td>{{ user.registeredAt ? user.registeredAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Retour a la liste</a>

    {# <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a> #}

    {# {{ include('admin/user/_delete_form.html.twig') }} #}
{% endblock %}
