<tr>
	<td>{{reservation.user.firstname}} {{reservation.user.lastname}}</td>
	<td>{{reservation.edition.document.title}}</td>
	<td>{{reservation.beginingAt|date('d/m/Y H:i')}} - {{reservation.endingAt|date('d/m/Y H:i')}}</td>
	<td>
		{% if reservation.validatedAt is null and reservation.canceled is same as(false) %}
			<form
				method="POST"
				action="{{ path('admin_reservation_validate', {'reservation': reservation.id}) }}"
				id="reservation-{{reservation.id}}-validate"
				onsubmit="return confirm('Valider?');"
			>
				<input type="hidden" name="_method" value="POST">
				<input type="hidden" name="_token" value="{{ csrf_token('valider' ~ reservation.id) }}">
			</form>
			<form
				method="POST"
				action="{{ path('admin_reservation_reject', {'reservation': reservation.id}) }}"
				id="reservation-{{reservation.id}}-reject"
				onsubmit="return confirm('Rejeter?');"
			>
				<input type="hidden" name="_method" value="POST">
				<input type="hidden" name="_token" value="{{ csrf_token('reject' ~ reservation.id) }}">
			</form>

		{% endif %}
		<div class="btn-group" role="group" aria-label="Basic example">
			{% if reservation.validatedAt is null and reservation.canceled is same as(false) %}
			<button class="btn btn-success" form="reservation-{{reservation.id}}-validate" title="Valider">{% include "icons/check.svg.twig" %}</button>

			<button class="btn btn-danger" form="reservation-{{reservation.id}}-reject" title="Refuser">{% include "icons/x.svg.twig" %}</button>
			{% endif %}
			<a href="{{ path('admin_reservation_add_comment', {'reservation': reservation.id}) }}" class="btn btn-primary" title="Commentaire">{% include "icons/comment.svg.twig" %}</a>

		</div>
	</td>
</tr>