<tr>
	<td>
		{% if reservation.user.firstname is not same as('') or reservation.user.lastname is not same as('') %}
			<a href="{{ path('admin_user_s_reservations', {'user': reservation.user.id}) }}">{{reservation.user.firstname}} {{reservation.user.lastname}}</a>
		{% else %}
			{% if reservation.user.email is not same as('') %}
				<a href="{{ path('admin_user_s_reservations', {'user': reservation.user.id}) }}">{{reservation.user.email}}</a>
			{% else %}
				<span class="text-muted">Compte supprimé</span>	
			{% endif %}
		{% endif %}
	</td>
	<td>{{reservation.edition.document.title}}
	<a href="{{ path('admin_reservation_edition', {'edition': reservation.edition.id }) }}" title="liste des reservation" class="badge badge-secondary">{% include "icons/card-list.svg.twig" %}</a>
	<a href="{{ path('explore_edition', {'edition': reservation.edition.id}) }}" title="page de l'édition" class="badge badge-secondary">{% include "icons/file-earmark.svg.twig" %}</a></td>
	<td>{{reservation.beginingAt|date('d/m/Y')}} - {{reservation.endingAt|date('d/m/Y')}}</td>
	<td>
		{% if reservation.validatedAt is null and reservation.canceled is same as(false) %}
			<form
				method="POST"
				action="{{ path('admin_reservation_validate', {'reservation': reservation.id}) }}"
				id="reservation-{{reservation.id}}-validate"
				onsubmit="return confirm('Valider?');"
			>
				<input type="hidden" name="_method" value="POST">
				<input type="hidden" name="_token" value="{{ csrf_token('valider' ~ reservation.id) }}">
			</form>
			<form
				method="POST"
				action="{{ path('admin_reservation_reject', {'reservation': reservation.id}) }}"
				id="reservation-{{reservation.id}}-reject"
				onsubmit="return confirm('Rejeter?');"
			>
				<input type="hidden" name="_method" value="POST">
				<input type="hidden" name="_token" value="{{ csrf_token('reject' ~ reservation.id) }}">
			</form>

		{% endif %}
		<div class="justify-content-end d-flex">
			<div class="btn-group mr-2" role="group" aria-label="Basic example">
				{% if reservation.validatedAt is null and reservation.canceled is same as(false) %}
				<button class="btn btn-outline-danger" form="reservation-{{reservation.id}}-reject" title="Refuser">{% include "icons/x.svg.twig" %}</button>
				<button class="btn btn-success" form="reservation-{{reservation.id}}-validate" title="Valider">{% include "icons/check.svg.twig" %}</button>
				{% endif %}
			</div>
				<a href="{{ path('admin_reservation_add_comment', {'reservation': reservation.id}) }}" class="btn btn-secondary" title="Commentaire">{% include "icons/comment.svg.twig" %}</a>
		</div>
	</td>
</tr>