{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche_title">S'inscrire</h1>

    {% if knownEmail %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Email connue</h4>
            <p>Votre adresse mail est deja connue de nos services, voulez vous plutot vous <a href="{{ path('app_login') }}">Connecter</a> ou <a href="{{ path('app_request_psw') }}">Réinitialiser votre mot de passe</a></p>
        </div>
    {% endif %}
    

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="row">
            <div class="col-12">
                <a href="{{ path('mentions_legales') }}" class="btn btn-link">Condition Générales d'Utilisation</a>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-secondary ml-auto">M'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
