{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block main %}
    <a href="{{ path('admin') }}" class="btn btn-link">Retour au tableau de bord</a>

    <h1>Liste des auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Date de mort</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.birth ? author.birth|date('Y-m-d') : '' }}</td>
                <td>{{ author.death ? author.death|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">Afficher</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucun auteur trouvé, essayez d'en ajouter un.</p>
                        <a href="{{ path('editor_new') }}" class="btn btn-primary">Ajouter un auteur</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('editor_new') }}" class="btn btn-primary">Ajouter un auteur</a>
{% endblock %}
