{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block main %}
<div class="d-flex align-items-center">
    <h1>Liste des auteurs</h1>
    <a href="{{ path('author_new') }}" class="btn btn-secondary ml-auto">Ajouter un auteur</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Date de mort</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.birth ? author.birth|date('Y-m-d') : '' }}</td>
                <td>{{ author.death ? author.death|date('Y-m-d') : '' }}</td>
                <td class="text-right">
                    <div class="btn-group ml-auto">
                        <a href="{{ path('explore_author', {'author': author.id}) }}" title="Voir la fiche" class="btn btn-secondary">{% include "icons/file-earmark.svg.twig" %}</a>
                        <a href="{{ path('author_edit', {'id': author.id}) }}" title="Modifier" class="btn btn-secondary">{% include "icons/pen.svg.twig" %}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucun auteur trouvé, essayez d'en ajouter un.</p>
                        <a href="{{ path('author_new') }}" class="btn btn-secondary">Ajouter un auteur</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(authors) }}
    </div>
{% endblock %}
