{{ form_start(form, {'attr': { 'id': 'reservation-form'}}) }}
<div class="row">
	<div class="position-relative col-lg-6 col-sm-12">
		{{ form_row(form.beginingAt) }}
	</div>

	<div class="position-relative col-lg-6 col-sm-12">
		{{ form_row(form.endingAt) }}
	</div>
</div>

{% if noBtn is not defined %}
	<button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
{% endif %}
{{ form_end(form) }}
