{% extends 'base.html.twig' %}

{% block title %}Modifier une reservation{% endblock %}

{% block main %}
    <h1>Modifier une reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('reservation_index') }}">Annuler</a>

    {# {{ include('reservation/_delete_form.html.twig') }} #}
{% endblock %}
{% block javascripts %}
<script>
$("#reservation_beginingAt").datetimepicker({
    locale: 'en',
    icons: {
        time: "fa fa-clock-o",
    },
    minDate: Date.now(),
    maxDate: moment(Date.now()).add({{maxReservationTime}}, 'days'),
    useCurrent: false,
    format: 'DD/MM/YYYY',
    disabledDates: [
        {% for day in disabledDays %}
             moment('{{ day|date('c') }}'),
        {% endfor %}
    ]
});

$("#reservation_endingAt").datetimepicker({
    locale: 'en',
    icons: {
        time: "fa fa-clock-o",
    },
    minDate: Date.now(),
    maxDate: moment(Date.now()).add({{maxReservationTime}} +  {{maxReservationLength}}, 'days'),
    useCurrent: false,
    format: 'DD/MM/YYYY',
    disabledDates: [
        {% for day in disabledDays %}
             moment('{{ day|date('c') }}'),
        {% endfor %}
    ]
});


$("#reservation_beginingAt").on("change.datetimepicker", function (e) {
    let maxDate = moment(e.date).add({{maxReservationLength}}, 'days')
    console.log(maxDate);
    
    $('#reservation_endingAt').datetimepicker('minDate', e.date);
    $('#reservation_endingAt').datetimepicker('maxDate', maxDate);
});
$("#reservation_endingAt").on("change.datetimepicker", function (e) {
    let minDate = moment(e.date).subtract({{maxReservationLength}}, 'days')
    console.log(minDate);
    
    $('#reservation_beginingAt').datetimepicker('maxDate', e.date);
    $('#reservation_beginingAt').datetimepicker('minDate', minDate);

});
</script>
{% endblock %}