{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block main %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Créée le</th>
                <th>Annulée</th>
                <th>Validée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.submimitedAt ? reservation.submimitedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.canceled ? 'Yes' : 'No' }}</td>
                <td>{{ reservation.validated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
