{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block main %}
<div class="fiche">
    <h1>Réserver</h1>
    <p>Réservation pour le document <a href="{{ path('explore_edition', {'edition': reservation.edition.id}) }}" title="Voir la fiche de ce document">{{reservation.edition.document.title}}</a>.</p>

    {{ include('reservation/_form.html.twig', {'button_label': 'Enregistrer', 'noBtn': true}) }}

    <div class="d-flex">
        <a href="{{ path('reservation_index') }}" class="btn btn-outline-danger ml-auto mr-3">Annuler</a>
        <button class="btn btn-secondary" form="reservation-form">Valider</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$("#reservation_beginingAt").datetimepicker({
    locale: 'fr',
    icons: {
        time: "fa fa-clock-o",
    },
    minDate: Date.now(),
    maxDate: moment(Date.now()).add({{maxReservationTime}}, 'days'),
    useCurrent: false,
    format: 'DD/MM/YYYY',
    disabledDates: [
        {% for day in disabledDays %}
             moment('{{ day|date('c') }}'),
        {% endfor %}
    ]
});

$("#reservation_endingAt").datetimepicker({
    locale: 'fr',
    icons: {
        time: "fa fa-clock-o",
    },
    minDate: Date.now(),
    maxDate: moment(Date.now()).add({{maxReservationTime}} +  {{maxReservationLength}}, 'days'),
    useCurrent: false,
    format: 'DD/MM/YYYY',
    disabledDates: [
        {% for day in disabledDays %}
             moment('{{ day|date('c') }}'),
        {% endfor %}
    ]
});


$("#reservation_beginingAt").on("change.datetimepicker", function (e) {
    let maxDate = moment(e.date).add({{maxReservationLength}}, 'days')
    console.log(maxDate);
    
    $('#reservation_endingAt').datetimepicker('minDate', e.date);
    $('#reservation_endingAt').datetimepicker('maxDate', maxDate);
});
$("#reservation_endingAt").on("change.datetimepicker", function (e) {
    let minDate = moment(e.date).subtract({{maxReservationLength}}, 'days')
    console.log(minDate);
    
    $('#reservation_beginingAt').datetimepicker('maxDate', e.date);
    $('#reservation_beginingAt').datetimepicker('minDate', minDate);

});
</script>
{% endblock %}