{% extends 'base.html.twig' %}

{% block title %}Reserver{% endblock %}

{% block main %}
	<h1>Reserver </h1>

	{{ form_start(form) }}
	<div class="row">
		<div class="position-relative col-lg-6 col-sm-12">
			{{ form_row(form.beginingAt) }}
		</div>

		<div class="position-relative col-lg-6 col-sm-12">
			{{ form_row(form.endingAt) }}
		</div>
	</div>

		<button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}

	{# go back to the last page if available #}
	{% if app.request.headers.get('referer') is not null %}
		<a href="{{ app.request.headers.get('referer') }}" class="btn btn-link">Retour à la fiche</a>
	{% endif %}
	
{% endblock %}

{% block javascripts %}
<script>

console.log('dd');

    $(function () {
            $("#reservation_beginingAt").datetimepicker({
                locale: 'fr',
                icons: {
                    time: "fa fa-clock-o",
                },
                minDate: false,
                collapse: true
            });

            $("#reservation_endingAt").datetimepicker({
                locale: 'fr',
                icons: {
                    time: "fa fa-clock-o",
                },
                minDate: false,
                useCurrent: false,
                collapse: true
            });


            $("#reservation_beginingAt").on("change.datetimepicker", function (e) {
                $('#reservation_endingAt').datetimepicker('minDate', e.date);
            });
            $("#reservation_endingAt").on("change.datetimepicker", function (e) {
                $('#reservation_beginingAt').datetimepicker('maxDate', e.date);
            });
        });
</script>
{% endblock %}