

{{ form_start(form, {'attr': {'id': 'user-form'}}) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-lg-6 col-sm-12">
            {{ form_row(form.lastname) }}
        </div>
    </div>

{{ form_end(form) }}
{{ include('site/profil/_delete_form.html.twig', {'noBtn' : true }) }}
<div class="d-flex">
    <button class="btn btn-outline-danger ml-auto mr-3" form="delete-account">Supprimer mon compte</button>
    <div class="btn-group">
        <a href="{{ path('profil_change_psw') }}" class="btn btn-outline-primary">Changer mon mot de passe</a>
        <button class="btn btn-primary" form="user-form">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>