{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block main %}

<section class="fiche">
    <p class="fiche__type">
        Fiche d'auteur
    </p>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="btn-group fiche__actions">
        <a href="{{ path('author_edit', {'id': author.id}) }}" class="btn btn-outline-primary">Modifier</a>
    </div>
    {% endif %}
    <div class="fiche__head">
        <h1 class="fiche__title">{{ author.name }}</h1>
    </div>

    <h2>Informations</h2>
    <table class="fiche__infos table">
        <tbody>
            <tr class="fiche__row">
                <th class="fiche__label">Date de naissance</th>
                <td class="fiche__value">{{ author.birth ? author.birth|date('Y-m-d') : 'Inconnue' }}</td>
            </tr>
            {% if author.death is not null %}
                <tr class="fiche__row">
                    <th class="fiche__label">Date de mort</th>
                    <td class="fiche__value">{{ author.death ? author.death|date('Y-m-d') : '' }}</td>
                </tr>
            {% endif %}
            
        </tbody>
    </table>

    <h2>Bibliographie</h2>
    <table class="results table">
        <thead class="results_head">
			<th class="results_head__label">Titre</th>
			<th class="results_head__label">Auteurs</th>
			<th class="results_head__label">Editeur(s)</th>
			<th class="results_head__label">Date d'édition</th>
		</thead>
        <tbody>
        {% for result in bibliography %}
            {% set edition = result.edition %}
            {{ include('site/explore/_editionItem.html.twig') }}
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(bibliography) }}
    </div>
</section>

{% endblock %}