{% extends 'base.html.twig' %}

{% block title %}Fiche d'édition{% endblock %}

{% block main %}


<section class="fiche">
    <p class="fiche__type">
        Fiche documentaire
    </p>
    <div class="btn-group fiche__actions">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('edition_edit', {'edition': edition.id}) }}" class="btn btn-outline-secondary">Modifier</a>
        <a href="{{ path('admin_reservation_edition', {'edition': edition.id}) }}" class="btn btn-outline-secondary">Voir les reservations</a>
        {% endif %}
        <a href="{{ path('reservation_new', { 'edition': edition.id}) }}" class="btn btn-secondary">Reserver</a>
    </div>
    <div class="fiche__head">
        <h1 class="fiche__title">{{ edition.document.title }}</h1>
        <p class="fiche__subtitle">{{ edition.document.subtitle }}</p>
        <p class="fiche__alttitle">{{ edition.document.alttitle }}</p>
    </div>

    <h2>Auteurs</h2>
    <table class="authors table">
        <thead>
            <th>Nom</th>
            <th class="text-right">Type de participation</th>
        </thead>
        <tbody>
        {% for writer in edition.writers %}
            {{ include('site/explore/_authorItem.html.twig') }}
        {% endfor %}
        </tbody>
    </table>

    <h2>Informations</h2>
    <table class="fiche__infos table">
        <tbody>
        {% if edition.publishedAt is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">Date de publication</th>
                <td class="fiche__value">{{ edition.publishedAt|date('d/m/Y') }}</td>
            </tr>
        {% endif %}
        {% if edition.tome is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">Numero de tome</th>
                <td class="fiche__value">{{ edition.tome }}</td>
            </tr>
        {% endif %}
        {% if edition.pages is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">Nombre de pages</th>
                <td class="fiche__value">{{ edition.pages }}</td>
            </tr>
        {% endif %}
        {% if edition.collecs|length > 0 %}
            <tr class="fiche__row">
                <th class="fiche__label">Collections</th>
                <td class="fiche__list">
                    <ul>
                        {% for collection in edition.collecs %}
                            <li><a href="{{path('explore_collection', {'collection': collection.id}) }}">{{collection.title}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% if edition.fond is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">Fond documentaire</th>
                <td class="fiche__value">{{ edition.fond }}</td>
            </tr>
        {% endif %}
        <tr class="fiche__row">
            <th class="fiche__label">Type de document</th>
            <td class="fiche__value">{{ edition.type.title }}</td>
        </tr>
        {% if edition.issn is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">ISSN</th>
                <td class="fiche__value">{{ edition.issn }}</td>
            </tr>
        {% endif %}
        {% if edition.isbn is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">ISBN</th>
                <td class="fiche__value">{{ edition.isbn }}</td>
            </tr>
        {% endif %}
        {% if edition.editor is not null %}
            <tr class="fiche__row">
                <th class="fiche__label">Editeur</th>
                <td class="fiche__value"><a href="{{ path('explore_editor', {'editor': edition.editor.id}) }}">{{ edition.editor.name }}</a></td>
            </tr>
        {% endif %}

        {# misc data stored as JSON #}
        {% for key, value in edition.miscData %}
            <tr class="fiche__row">
                <th class="fiche__label">{{ key }}</th>
                {% if 'http' in value %}
                    <td class="fiche__value"><a href="{{value}}" rel="noreferrer noopener" target="_blank">{{ value }}</a></td>
                {% else %}
                    <td class="fiche__value">{{ value }}</td>
                {% endif %}
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}