{% extends 'base.html.twig' %}

{% block title %}Editor{% endblock %}

{% block main %}

<section class="fiche">
	<p class="fiche__type">
			Fiche d'éditeur
	</p>
	{% if is_granted('ROLE_ADMIN') %}
	<div class="btn-group fiche__actions">
		<a href="{{ path('editor_edit', {'id': editor.id}) }}" class="btn btn-secondary">Modifier</a>
	</div>
	{% endif %}

	<div class="fiche__head">
		<h1 class="fiche__title">{{ editor.name }}</h1>
	</div>

	{% if editor.address is not empty %}
	<h2>Informations</h2>
	<table class="table">
		<tbody>
			<tr class="fiche__row">
				<th class="fiche__label">Adresse</th>
				<td class="fiche__value">{{ editor.address }}</td>
			</tr>
		</tbody>
	</table>
	{% endif %}

	<h2>Publications</h2>
	<table class="results table">
		<thead class="results_head">
			<th class="results_head__label">Titre</th>
			<th class="results_head__label">Auteurs</th>
			<th class="results_head__label">Editeur(s)</th>
			<th class="results_head__label">Date d'édition</th>
		</thead>
		<tbody>
		{% for edition in editions %}
			{{ include('site/explore/_editionItem.html.twig') }}
		{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-center">
		{{ knp_pagination_render(editions) }}
	</div>
</section>
{% endblock %}