{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block main %}
<div class="d-flex align-items-center">
    <h1>Liste des documents</h1>
    <a href="{{ path('document_new') }}" class="btn btn-secondary ml-auto">Ajouter un document</a>
</div>
	<div class="table__container">

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Sous-titre</th>
                <th>Titre alternatif</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.title | u.truncate(50, '...') }}</td>
                <td>{{ document.subtitle }}</td>
                <td>{{ document.alttitle }}</td>
                <td class="text-right">
                    <div class="btn-group ml-auto">
                        <a href="{{ path('document_edit', {'id': document.id}) }}" title="Modifier" class="btn btn-secondary">{% include "icons/pen.svg.twig" %}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucun document trouvé, essayez d'en ajouter un.</p>
                        <a href="{{ path('document_new') }}" class="btn btn-secondary">Ajouter un document</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
<div class="d-flex justify-content-center">
    {{ knp_pagination_render(documents) }}
</div>

{% endblock %}
