{{ form_start(form, {'attr': {'id': 'edit-edition'}}) }}
    <div class="row">
        <div class="col-sm-6 col-12">
            {{ form_row(form.document) }}
        </div>
        <div class="col-sm-6 col-12">
            {{ form_row(form.editor) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            {{ form_row(form.pages) }}
        </div>
        <div class="col-sm-6 col-12">
            {{ form_row(form.tome) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12 relative">
            {{ form_row(form.publishedAt) }}
        </div>
        <div class="col-sm-6 col-12">
            {{ form_row(form.inventoryNumber) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            {{ form_row(form.type) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6 col-12">
            {{ form_row(form.collecs) }}
        </div>
        <div class="col-sm-6 col-12">
            {{ form_row(form.fond) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6 col-12">
            {{ form_row(form.issn) }}
        </div>
        <div class="col-sm-6 col-12">
            {{ form_row(form.isbn) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            {{ form_row(form.miscData) }}
        </div>
    </div>

    {{ form_widget(form) }}
     {% if noBtn is not defined %}
        <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
    {% endif %}
{{ form_end(form) }}
