{% extends 'base.html.twig' %}

{% block title %}Liste des éditions{% endblock %}

{% block main %}
    <h1>Liste des éditions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Numero d'inventaire</th>
                <th>Tome</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edition in editions %}
            <tr>
                <td>{{ edition.document.title | u.truncate(50, '...') }}</td>
                <td>{{ edition.inventoryNumber }}</td>
                <td>{{ edition.tome }}</td>
                <td class="text-right">
                    <div class="btn-group ml-auto">
                        <a href="{{ path('explore_edition', {'edition': edition.id}) }}" title="Voir la fiche" class="btn btn-primary">{% include "icons/file-earmark.svg.twig" %}</a>
                        <a href="{{ path('edition_edit', {'id': edition.id}) }}" title="Modifier" class="btn btn-primary">{% include "icons/pen.svg.twig" %}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucune edition trouvée, essayez d'en ajouter une.</p>
                        <a href="{{ path('edition_new') }}" class="btn btn-primary">Ajouter une édition</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="d-flex justify-content-center">
    {{ knp_pagination_render(editions) }}
</div>

    <a href="{{ path('edition_new') }}" class="btn btn-primary">Ajouter une édition</a>
{% endblock %}
