{% extends 'base.html.twig' %}

{% block title %}Liste des éditions{% endblock %}

{% block main %}
    <h1>Liste des éditions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Numero d'inventaire</th>
                <th>Tome</th>
                <th>Disponibilité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edition in editions %}
            <tr>
                <td>{{ edition.document.title }}</td>
                <td>{{ edition.inventoryNumber }}</td>
                <td>{{ edition.tome }}</td>
                <td>{{ edition.disponibility }}</td>
                <td>
                    <a href="{{ path('edition_show', {'id': edition.id}) }}">show</a>
                    <a href="{{ path('edition_edit', {'id': edition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucune edition trouvée, essayez d'en ajouter une.</p>
                        <a href="{{ path('edition_new') }}" class="btn btn-primary">Ajouter une édition</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('edition_new') }}" class="btn btn-primary">Ajouter une édition</a>
{% endblock %}
