{% extends "base.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block main %}
{% include("site/search/_filters.html.twig") %}

<table class="results table">
	<thead class="results_head">
		<th class="results_head__label">Titre</th>
		<th class="results_head__label">Auteur</th>
		<th class="results_head__label">Editeur(s)</th>
		<th class="results_head__label">Type de document</th>
		<th class="results_head__label">Date d'édition</th>
	</thead>
	<tbody>
	{% for result in resultList %}
		<tr class="result_item">
			<td class="result_item__title"><a href="{{ path('explore_edition', {'edition': result.id}) }}" title="Voir plus d'informations">{{ result.document.title }}</a></td>
			<td class="result_item__author">
				{% if result.writers is not empty %}
					{% for writer in result.writers %}
						<a href="{{ path('explore_author', {'author': writer.author.id}) }}" title="Voir la bibliographie de cet auteur">{{ writer.author.name }}</a>
					{% endfor %}
				{% endif %}
			</td>
			<td class="result_item__editeur">
				{% if result.editor is not empty %}
					<a href="{{ path('editor_show', {'id': result.editor.id}) }}" title="Voir la bibliographie de cet editeur">{{ result.editor.name }}</a>
				{% endif %}
			<td class="result_item__type">{{ result.type.title }}</td>
			<td class="result_item__date">{% if result.publishedAt is not null %}{{ result.publishedAt|date("d/m/Y") }}{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="d-flex justify-content-center">
	{{ knp_pagination_render(resultList) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
$("#advenced_search_form_publisheAfter").datetimepicker({
    locale: 'fr',
    icons: {
        time: "fa fa-clock-o",
    },
    maxDate: Date.now(),
    useCurrent: false,
    format: 'DD/MM/YYYY'
});

$("#advenced_search_form_publishedBefore").datetimepicker({
    locale: 'fr',
    icons: {
        time: "fa fa-clock-o",
    },
    maxDate: Date.now(),
    useCurrent: false,
    format: 'DD/MM/YYYY'
});
</script>
{% endblock %}