<header class="header sticky-top " aria-label="Navigation principale">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Catalogue</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    {% if app.request.get('_route') is not same as('search') %} 
      {{ render(controller('App\\Controller\\SiteController::search')) }}
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_register')}}">Inscription</a>
      </li>
    </ul>
    {% else %}
      {# aligne the dropdown to the rigth in case the search bar is not displayed #}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if app.user.firstname is not null or app.user.lastname is not null %}
              {{ app.user.firstname }} {{ app.user.lastname }}
            {% else %}
              Profil
            {% endif %}
            
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('profil_index') }}">Modifier mon profil</a>
            <a class="dropdown-item" href="{{ path('reservation_index') }}">Mes reservation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a>
          </div>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>
</header>