<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil
			{% endblock %}
			- Catalogue</title>
		{# {{ encore_entry_link_tags('app.scss') }} #}
		{{ encore_entry_link_tags('main') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{{ include('_header.html.twig') }}
		{% if is_granted('ROLE_ADMIN') %}
			{{ include('_nav.html.twig') }}
		{% endif %}
		<main>
			{# flash messages start#}
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			{# flash messages end #}

			{% block main %}{% endblock %}
		</main>
		{% include "_footer.html.twig" %}
		{{ encore_entry_script_tags('main') }}
		{% block javascripts %}{% endblock %}
    </body>
</html>
