<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - Catalogue</title>
        {# {{ encore_entry_link_tags('app.scss') }} #}
        {{ encore_entry_link_tags('main') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('_header.html.twig') }}
        {{ include('_nav.html.twig') }}
        <main class="main">
            {% block main %}{% endblock %}
        </main>
        <footer class="footer">
            {% block footer %}{% endblock %}
        </footer>
        {{ encore_entry_script_tags('main') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
