{% extends 'base.html.twig' %}

{% block title %}Fond index{% endblock %}

{% block main %}
    <a href="{{ path('admin') }}" class="btn btn-link">Retour au tableau de bord</a>

    <h1>Fond index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fond in fonds %}
            <tr>
                <td>{{ fond.title }}</td>
                <td>{{ fond.description | u.truncate(50,'...') }}</td>
                <td>
                    <a href="{{ path('fond_show', {'id': fond.id}) }}">Afficher</a>
                    <a href="{{ path('fond_edit', {'id': fond.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucun fond trouvé, essayez d'en ajouter un.</p>
                        <a href="{{ path('fond_new') }}" class="btn btn-secondary">Ajouter un fond</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fond_new') }}" class="btn btn-secondary">Ajouter un fond</a>
{% endblock %}
