{% extends 'base.html.twig' %}

{% block title %}Liste des collections{% endblock %}

{% block main %}<div class="d-flex align-items-center">
    <h1>Liste des collections</h1>
    <a href="{{ path('collec_new') }}" class="btn btn-secondary ml-auto">Ajouter une collection</a>
</div>
    <h1></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collec in collecs %}
            <tr>
                <td>{{ collec.title }}</td>
                <td>{{ collec.description }}</td>
                <td class="text-right">
                    <div class="btn-group ml-auto">
                        <a href="{{ path('collec_edit', {'id': collec.id}) }}" title="Modifier" class="btn btn-secondary">{% include "icons/pen.svg.twig" %}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucune collection trouvée, essayez d'en ajouter une.</p>
                        <a href="{{ path('collec_new') }}" class="btn btn-secondary">Ajouter une collection</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
