{{ form_start(form, {'attr': {'id': 'writer-form'}}) }}
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			{{ form_row(form.participationType) }}
		</div>
		<div class="col-lg-6 col-sm-12">
			{{ form_row(form.author) }}
		</div>
	</div>

			{{ form_row(form._token) }}

	
{{ form_end(form, {'render_rest': false}) }}
