{% extends 'base.html.twig' %}

{% block title %}Writer index{% endblock %}

{% block main %}

    <div class="d-flex align-items-center">
        <h1>Auteurs du document <a href="{{ path('explore_edition', {'edition': edition.id }) }}">{{ edition.document.title }}</a></h1>
        <a href="{{ path('writer_add', {'edition': edition.id}) }}" class="btn btn-secondary ml-auto">Ajouter un participant</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Fonction</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for writer in writers %}
            <tr>
                <td>{{ writer.author.name }}</td>
                <td>{{ writer.participationType.title }}</td>
                <td class="text-right">
                    <a class="btn btn-secondary" href="{{ path('writer_edit', {'edition': edition.id, 'id': writer.id}) }}">{% include "icons/pen.svg.twig" %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    <div class="flex flex-column">
                        <p>Aucun auteur trouvé, essayez d'en ajouter un.</p>
                        <a href="{{ path('writer_add', {'edition': edition.id}) }}" class="btn btn-secondary">Ajouter un participant</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
